/*!
 * Bootstrap main
 *
 *
 *
 */
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: none repeat scroll 0 0 #F2F0F0;
    color: #666666;
    font-size: 14px;
    font-family: Arial;
}

.regtitle {
    margin-bottom: 20px;
    padding: 20px 40px 20px 40px;
    border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 #FFFFFF;

    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

.menubar {
    padding: 0px 10px 0px 10px;
    color: #ffffff;
}

.loginhidden {
    display: none;
}
