<!DOCTYPE html>
<html>
<head>
	
	<title>test Restful API</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="<?php echo $csrfname ?>" content="<?php echo $csrfvalue ?>" />

	<link href="website/styles/bootstrap.css" rel="stylesheet">
	<link href="website/styles/bootstrap-responsive.css" rel="stylesheet">
	<link href="website/styles/website.css" rel="stylesheet">


	<link rel="shortcut icon" href="website/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="website/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="website/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="website/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="website/ico/apple-touch-icon-57-precomposed.png">
</head>
<body ng-app="vcpmodule">

	<div class="row-fluid" ng-controller="pageListcontroller">
		<div class="span8 offset2 regtitle">

			<h2>欢迎注册个税计算器</h2>
			<p>如果您还不知道中国的个税有多重，快试试吧。你本来可以拿双倍工资，但一半都被国家拿走了</p>
			<hr>
			
			<div class="span12 form-horizontal" id="registerform" >

				<div class="control-group">
					<label for="username" class="control-label">CategoryName：</label>
					<div class="controls">
						<input type="text" name="username" ng-model='category.categorywebsitename' data-error-style="inline" placeholder="请输入用户名">
					</div>
				</div>




				<div class="control-group">
					<label  class="control-label"></label>
					<div class="controls">
						<button id="regbutton" class="btn btn-primary btn-large" ng-click='save()'>保存</button>
					</div>
				</div>

				<div style="display:none" class="alert alert-error offset1">
					<strong>哎呀!</strong> 您还没有填写完整！
				</div>
				<div style="display:none" class="alert alert-error2 offset1">
					<strong>糟糕!</strong> 注册失败，服务器打瞌睡了！
				</div>

				<div style="display:none" class="alert alert-success offset1">
					<strong>恭喜!</strong> 您注册成功!
				</div>
			</div><!--/span10-->	
		</div><!--/span8-->	
	</div><!--/row-->
	

<script src="js/lib/angular/1.1.5/angular.js"></script>
<script src="js/lib/angular/1.1.5/angular-resource.js"></script>
<script src="js/angularapp/pagecontrollers.js"></script>
<script src="js/angularapp/factory.js"></script>	
<!-- 				
		<script src="assets/js/lib/jquery/jquery-1.7.2.min.js"></script>
		<script src="assets/js/lib/jquerymobile/jquery.mobile-1.1.0.min.js"></script> 


		<script src="assets/js/lib/underscore/underscore.js"></script>
		<script src="assets/js/lib/backbone/backbone.js"></script>
		<script src="assets/js/lib/backbonemodelbinder/backbone-modelbinder.js"></script>
		<script src="assets/js/lib/backbonevalidation/backbone-validation.js"></script> -->



</body>
</html>